<p>Qual o elemento da reação? (opcional)</p>
<div class="select">
  <select [(ngModel)]="elementoSelecionado" (change)="filtrarReacao(elementoSelecionado); emitir()">
    <option *ngFor="let elemento of elementos" [value]="elemento">
      {{ elemento }}
    </option>
  </select>
</div>
<p>Escolha a reação (ou nenhuma no caso de não ter)</p>
<div class="select">
  <select [(ngModel)]="reacaoSelecionada" (change)="emitir()">
    <option *ngFor="let reacao of reacoes" [value]="reacao">
      {{ reacao }}
    </option>
  </select>
</div>
