<section id="calculadoraDano">
    <h1>Comparar dano Genshin Impact</h1>
    <app-select-reacao (outputReacao)="defineReacao($event)" #selectReacao [hidden]="esconderSelect"></app-select-reacao>
    <app-form-dano *ngIf="reacao !== undefined" [reacao]="reacao!" (resultadoEmitter)="adicionarResultado($event)"></app-form-dano>
    <div *ngIf="calculadoras.length > 0">
        <button *ngIf="esconderSelect" (click)="esconderSelect = false">Calcular novamente e comparar</button>
        <h2>Seus Resultados até agora: </h2>
        <p>Note os resultados são apenas valores aproximados de 1 golpe. Leve também em consideração a frequência dele na hora de tomar uma decisão.</p>
        <app-lista-calculos *ngFor="let calculadora of calculadoras; let i = index" [calculadora]="calculadora" [index]="i + 1"></app-lista-calculos>
    </div>    
</section>